{%- macro infobox(plant_title, ImageFile_0, IUCN_conservation_status,Taxon_Genus,Taxon_Species,Names_Hindi,Names_Kannada,Names_Konkani,Names_Marathi,Names_Tamil,Names_Tulu,
  Names_Sanskrit,Names_Telugu,Names_Malayalam,Names_Nepali) -%}
{{'{{Speciesbox '}}
| name = {{plant_title}}
| image = {{ImageFile_0}}
| image_caption = {{plant_title}}
| status = {{IUCN_conservation_status}}
| status_system = IUCN3.1
| genus =  {{Taxon_Genus}}
| species = {{Taxon_Species}}
| synonyms = {{'{{Collapsible list| '}} {{'\n'}}
{%- if Names_Hindi != '' -%}
*'''''Hindi : ''''' ''{{Names_Hindi}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Kannada != '' -%}
*'''''Kannada : ''''' ''{{Names_Kannada}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Konkani != '' -%}
*'''''Konkani : ''''' ''{{Names_Konkani}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Marathi != '' -%}
*'''''Marathi : ''''' ''{{Names_Marathi}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Tamil != '' -%}
*'''''Tamil : ''''' ''{{Names_Tamil}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Tulu != '' -%}
*'''''Tulu : ''''' ''{{Names_Tulu}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Sanskrit != '' -%}
*'''''Sanskrit : ''''' ''{{Names_Sanskrit}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Telugu != '' -%}
*'''''Telugu : ''''' ''{{Names_Telugu}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Malayalam != '' -%}
*'''''Malayalam : ''''' ''{{Names_Malayalam}}'' {{'\n'}}
{%- endif -%}
{%- if Names_Nepali != '' -%}
*'''''Nepali : ''''' ''{{Names_Nepali}}''
{%- endif -%}
{{''}} }} }}
{%- endmacro -%}

{##############################Macro for Introduction ##########################################}
{%- macro intro(intro_hindi) -%}
{%- if intro_hindi != '' -%}
{{intro_hindi}}
{%- endif -%}
{%- endmacro -%}


{############################Macro for Name and Family#############################################}
{%- macro NameAndFamily(Taxon_Family_Hindi,Taxon_Family, basionym_Hindi, basionym, Name_Hindi,Name, Taxon_Phylum_Hindi, Taxon_Phylum, Flower_Common_names) -%}
==नाम और वर्गीकरण ==
{{'\n'}}
{%- if Taxon_Family_Hindi != '' -%}
यह {{Taxon_Family_Hindi}} ({{Taxon_Family}}) परिवार का एक पौधा है। {{' '}}
{%- endif -%}

{%- if basionym_Hindi != '' -%}
 इसका मूल नाम {{basionym_Hindi}} ({{basionym}}) है।  {{' '}}
{%- endif -%}

{%- if Name_Hindi != '' -%}
 इसका वानस्पतिक नाम {{Name_Hindi}} ({{Name}}) है। {{' '}}
{%- endif -%}

{%- if Taxon_Phylum_Hindi != '' -%}

{{-[
	'इसकी जाति ' ~Taxon_Phylum_Hindi~ ' (' ~Taxon_Phylum~ ' ) है।  ',
	'यह  ' ~Taxon_Phylum_Hindi~ ' (' ~Taxon_Phylum~ ' ) जाति का एक पौधा है।  ',
      ] |random -}}
	  
{%- endif -%}

{%- if Flower_Common_names != '' -%}
{{'\n'}}
====अन्य नाम ====
{{'\n'}}
{{Flower_Common_names}}
{%- endif -%}
{%- endmacro -%}

{##############################Macro for Flower Description##########################################}
{%- macro FlowerDescription(Flower_descr_Hindi,iucn_habit_Hindi) -%}
{%- if Flower_descr_Hindi != '' -%}
==वर्णन ==
{{'\n'}}
{{Flower_descr_Hindi}}
{%- endif -%}
{%- if iucn_habit_Hindi != '' -%}
{{iucn_habit_Hindi}}
{%- endif -%}
{%- endmacro -%}


{##############################Macro for Assessment ##########################################}
{%- macro Assessment(assessment_Hindi) -%}
{%- if assessment_Hindi != '' -%}
==मूल्यांकन ==
{{'\n'}}
{{assessment_Hindi}}
{%- endif -%}
{%- endmacro -%}


{##############################Macro for Geography and Population ##########################################}
{%- macro ecology(Habitat_Hindi,Geography_Hindi, population_Hindi,General_Distribution_Hindi) -%}
{%- if (Habitat_Hindi != '' or Geography_Hindi != '' or population_Hindi != '') -%}
==पारिस्थितिकी ==
{{'\n'}}
{%- endif -%}
{%- if Habitat_Hindi != '' -%}
यह {{Habitat_Hindi}} में पाया जाता है। 
{%- endif -%}

{%- if Geography_Hindi != '' -%}
{{Geography_Hindi}}
{%- endif -%}

{%- if population_Hindi != '' -%}
{{population_Hindi}}
{%- endif -%}

{%- if General_Distribution_Hindi != '' -%}
{{'\n'}}
==सामान्य वितरण==
{{General_Distribution_Hindi}}
{%- endif -%}
{%- endmacro -%}

{##############################Macro for Uses ##########################################}
{%- macro uses(Uses_Hindi) -%}

{%- if Uses_Hindi != '' -%}

==उपयोग ==
{{'\n'}}
{{Uses_Hindi}}

{%- endif -%}
{%- endmacro -%}

{##############################Macro for Gallery ##########################################}
{%- macro Gallery(ImageFile_0,ImageFile_1,ImageFile_2,ImageFile_3,ImageFile_4,ImageFile_5,ImageFile_6,ImageFile_7,ImageFile_8,ImageFile_9) -%}

{%- if ImageFile_0 != '' -%}

==दीर्घा ==
{{'\n'}}

&lt;gallery&gt;
File:{{ImageFile_0}}
File:{{ImageFile_1}}
File:{{ImageFile_2}}
File:{{ImageFile_3}}
File:{{ImageFile_4}}
File:{{ImageFile_5}}
File:{{ImageFile_6}}
File:{{ImageFile_7}}
File:{{ImageFile_8}}
File:{{ImageFile_9}}
&lt;/gallery&gt;

{%- endif -%}
{%- endmacro -%}

{##############################Macro for Reference ##########################################}
{%- macro Reference(Refer_0,Refer_1,Refer_2,Refer_3,Refer_4,Refer_5,Refer_6,Refer_7,Refer_8,Refer_9,Refer_10) -%}

==सन्दर्भ ==
{%- if Refer_0 != '' -%}
{{'\n'}}
# {{Refer_0}} {{'\n'}}
{%- endif -%}

{%- if Refer_1 != '' -%}
# {{Refer_1}} {{'\n'}}
{%- endif -%}

{%- if Refer_2 != '' -%}
# {{Refer_2}} {{'\n'}}
{%- endif -%}

{%- if Refer_3 != '' -%}
# {{Refer_3}} {{'\n'}}
{%- endif -%}

{%- if Refer_4 != '' -%}
# {{Refer_4}} {{'\n'}}
{%- endif -%}

{%- if Refer_5 != '' -%}
# {{Refer_5}} {{'\n'}}
{%- endif -%}

{%- if Refer_6 != '' -%}
# {{Refer_6}} {{'\n'}}
{%- endif -%}

{%- if Refer_7 != '' -%}
# {{Refer_7}} {{'\n'}}
{%- endif -%}
{%- endmacro -%}

{############################Calling Macros for text generation#############################################}
{{infobox(plant_title, ImageFile_0, IUCN_conservation_status,Taxon_Genus,Taxon_Species,Names_Hindi,Names_Kannada,Names_Konkani,Names_Marathi,Names_Tamil,Names_Tulu,
  Names_Sanskrit,Names_Telugu,Names_Malayalam,Names_Nepali) }}
{{intro(intro_hindi) }}
{{NameAndFamily(Taxon_Family_Hindi,Taxon_Family, basionym_Hindi, basionym, Name_Hindi,Name, Taxon_Phylum_Hindi, Taxon_Phylum, Flower_Common_names) }}
{{FlowerDescription(Flower_descr_Hindi,iucn_habit_Hindi)}}
{{Assessment(assessment_Hindi)}}
{{ecology(Habitat_Hindi,Geography_Hindi, population_Hindi,General_Distribution_Hindi)}}
{{uses(Uses_Hindi)}}
{{Gallery(ImageFile_0,ImageFile_1,ImageFile_2,ImageFile_3,ImageFile_4,ImageFile_5,ImageFile_6,ImageFile_7,ImageFile_8,ImageFile_9)}}
{{Reference(Refer_0,Refer_1,Refer_2,Refer_3,Refer_4,Refer_5,Refer_6,Refer_7,Refer_8,Refer_9,Refer_10)}}


{{ '{{औषधीय पौधा}}'}}

[[श्रेणी:औषधीय पौधे]]
[[श्रेणी:वृक्ष]]
[[श्रेणी: भारतीय औषधीय पौधा]]  
